@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0%;
    background-color: #FFED90;
}

.building_name {
    font-family: 'yg-jalnan';
    font-size: 36pt;
    text-align: center;
    color: #341139;
}
.building_intro {
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 15pt;
    text-align: center;
}

.line {
    width: 80%;
    border: thick solid black;
}

.comment {
    margin-left: 10%;
    margin-right: 10%;
}
.comment_body {
    font-family: 'NanumBarunpen';
    font-size: 20pt;
    text-align: left;
}
.comment_info {
    font-family: 'NanumBarunpen';
    font-size: 16pt;
    text-align: right;
}
.comment_empty {
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 20pt;
}

span {
    font-family: 'NanumBarunpen';
}
p {
    font-family: 'NanumSquare', sans-serif !important;
}

a {
    text-decoration: none;
}
a.visited {
    color: white;
}
.btn {
    cursor: pointer;
    border: none;
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    color: white;
    background-color: #A8D46F;
    font-family: 'NanumSquare', sans-serif !important;
}

.btn :hover {
    background-color: #359668;
}
