{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>BUILDING</title>
    <link rel="stylesheet" href="{% static 'css/detailstyle.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
</head>

<body>
<br>
<div class="building_name"> {{ blog.title }} </div>
<div class="building_intro"> {{ blog.body }} </div>
<br>
<hr class="line">
<br>
<br>
    
    <div class="comment">
    {% for comment in blog.comments.all %}
        <div class="comment_body"> {{ comment.text }} </div>
        <div class="comment_info"> <small><strong>{{ comment.author }}</strong> {{ comment.created_at }}</small> </div>
        <br>
        {% empty %}
            <div class="comment_empty"> 아직 댓글이 없어요ㅠ 벗만 아는 지름길을 알려주세요! </div>
            <br>

    {% endfor %}
    </div>

        <button type="button" class="btn btn-primary btn-sm"><a href="{% url 'home' %}">HOME으로 돌아가기</a></button>
        <button type="button" class="btn btn-secondary btn-sm"><a href="{% url 'comment_new' blog.pk %}">댓글 추가하기</a></button>

</body>